<!doctype html>
<html lang="en" class="metro-no-touch-device">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta name="twitter:site" content="@synacker">
  <meta name="twitter:creator" content="@synacker">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%= data.general.title %>">
  <meta name="twitter:description" content="<%= data.general.description %>">
  <meta name="twitter:image" content="https://daggy.dev/images/daggy_social.png">

  <meta property="og:url" content="https://daggy.dev/index.html">
  <meta property="og:title" content="<%= data.general.title %>">
  <meta property="og:description" content="<%= data.general.description %>">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://daggy.dev/images/daggy_social.png">
  <meta property="og:image:secure_url" content="https://daggy.dev/images/daggy_social.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">

  <meta name="author" content="synacker">
  <meta name="description" content="<%= data.general.description %>">
  <meta name="keywords" content="open source, server-less, serverless, free, cross-platform, crossplatform, ssh, bash, utility, administration, debug, developing, network, microservice">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <title>Daggy - Data Aggregation Utility</title>


  <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  <link id="color-scheme" href="stylesheets/daggy.css" rel="stylesheet">


  <%= stylesheet_link_tag 'site' %>

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180-precomposed.png">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="favicon.png">
  <link rel="icon" type="image/ico" href="favicon.ico">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144466701-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-144466701-1');
  </script>


  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
          m[i] = m[i] || function () {
              (m[i].a = m[i].a || []).push(arguments)
          };
          m[i].l = 1 * new Date();
          k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
      })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(54569629, "init", {
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true
      });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/54569629" style="position:absolute; left:-9999px;" alt=""/></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

  <meta name="yandex-verification" content="f592541b3123ed84"/>

  <script type="application/ld+json">
      {
      "@context": "http://schema.org/",
      "@type": "Organization",
      "url": "http://daggy.dev/",
      "name": "Daggy - Data Aggregation Utility",
      "logo": "https://daggy.dev/daggy_logo.png",
      "sameAs": [
          "https://github.com/synacker/daggy",
          "https://twitter.com/synacker"
        ]
      }


  </script>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "Daggy",
    "operatingSystem": "Windows, MacOS, Linux",
    "applicationCategory": "https://schema.org/UtilitiesApplication"
  }

  </script>


</head>
<body>
<div class="container-fluid pos-fixed fixed-top z-top">
  <header class="app-bar container bg-black panel fg-control pos-relative" data-role="appbar" data-expand-point="md">
    <a href="index.html" class="brand no-hover">
      <span>DAGGY</span>
    </a>
    <ul class="app-bar-menu ml-auto text-upper collapsed" style="">
      <li>
        <a href="index.html" class="dropdown-toggle">About</a>
        <ul class="d-menu" data-role="dropdown">
          <li><a href="index.html#daggy">Daggy</a></li>
          <li class="divider"></li>
          <li><a href="index.html#facilities">Facilities</a></li>
          <li><a href="index.html#features">Features</a></li>
          <li><a href="index.html#howitworks">How Daggy works</a></li>
        </ul>
      </li>
      <li>
        <a href="https://docs.daggy.dev" class="dropdown-toggle">Docs</a>
        <ul class="d-menu" data-role="dropdown">
          <li><a href="https://docs.daggy.dev/">Common Description</a></li>
          <li class="divider"></li>
          <li><a href="https://docs.daggy.dev/getting-started">Getting Started</a></li>
          <li><a href="https://docs.daggy.dev/how-it-works">How it works</a></li>
          <li><a href="https://docs.daggy.dev/data-sources-configuration">Data Sources Configuration</a></li>
          <li><a href="https://docs.daggy.dev/command-snippets">Command snippets</a></li>
          <li><a href="https://docs.daggy.dev/troubleshoting">Troubleshoting</a></li>
        </ul>
      </li>
      <li>
        <a href="https://github.com/synacker/daggy" id="github_daggy_href" target="_blank">
          <span class="mif-github mif-2x d-none d-block-md"></span>
          <span class="d-block d-none-md">Github</span>
        </a>
      </li>
    </ul>
  </header>

</div>

<%= current_page.data.date %>

<%= yield %>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<%= javascript_include_tag 'site' %>

</body>
</html>
