---
title: FAQ|Daggy
description: Most frequently asked questions about Daggy
tags: daggy, logstash, ansible, faq, wireshark, serverless, logging, data aggregation, logs, multiplexer, ssh
---
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
<% data.faq.each_with_index do |faq, index| %>
  {
    "@type": "Question",
    "name": "<%= faq.name %>",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "<%= faq.answer %>"
    }
  }<%= ',' if index != (data.faq.size - 1) %>
<% end %>
  ]
}
</script>


<div class="container-fluid text-lef" id="features">
  <div class="container">
    <div class="row text-center pb-5">
      <h1 class="cell-12 text-bold"><%= current_page.data.description %></h1>
    </div>
    <div data-role="accordion" data-one-frame="true" data-show-active="true">
    <% data.faq.each do |faq| %>
        <div class="frame">
          <div class="heading h3"><%= faq.name %></div>
          <div class="content">
            <p class="p-5 text-leader"><%= faq.answer %></p>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>