---
title: Daggy - Data Aggregation Utility and C/C++ developer library for data streams catching
description: Main goals are server-less, cross-platform, simplicity and ease-of-use. It can be helpful for developers, QA, DevOps and engineers for debug, analyze and control any data streams, including requests and responses, in distributed network systems, for example, based on micro-service architecture.
tags: streaming qt monitoring process stream-processing extensible serverless-framework aggregation ssh2 cross-platform-app cross-platform-development
data_structures: >
  <script type="application/ld+json">

  {
    "@context": "http://schema.org/",
    "@type": "Organization",
    "url": "https://daggy.dev/",
    "name": "Daggy - Data Aggregation Utility",
    "logo": "https://daggy.dev/daggy_logo.png",
    "sameAs": [
    "https://github.com/synacker/daggy",
    "https://twitter.com/synacker"
    ]
  }

  </script>

  <script type="application/ld+json">

  {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "Daggy",
    "operatingSystem": "Windows, MacOS, Linux",
    "applicationCategory": "https://schema.org/UtilitiesApplication"
  }

  </script>
---


<div class="hero hero-bg text-center" id="daggy">
  <img src="images/daggy_logo.svg" height="200px">
  <div class="display4 fg-white"><span class="reduce-3 enlarge-3-md">DAGGY</span></div>

  <h4 class="text-center fg-white text-upper text-bold"><%= current_page.data.title %><span class="d-none-md1"><br></span>
  </h4>
  <h5>Data aggregation and streaming</h5>
  <div class="d-flex flex-justify-center flex-align-center text-small">
    <%= partial 'partials/install_button' %>
  </div>
  
  <div class="d-flex flex-justify-center flex-align-center text-small">
    <a href="https://github.com/synacker/daggy" class="enlarge-4x m-1 fg-accent no-decor fg-green-hover transition" target="_blank"><span class="mif-github mif-5x"></span></a>
  </div>

  <div class="container-fluid text-center pt-10 pb-20" id="demo">
    <div class="h1"><span class="reduce-1 enlarge-1-md text-bold">Screencast Demo</span></div>
    <div class="embed-container size-16x9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oeNSwv9oYDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="container-fluid text-left pt-10 pb-20" id="features">
  <div class="container text-center">
    <h1 class="text-bold"> <%= data.faq[0].answer %></h1>
    <div class="h1"><span class="reduce-1 enlarge-1-md text-bold">Features</span></div>
    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-file-code mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Data Aggregation Config</h4>
        <p>
          <a href="https://docs.daggy.dev/data-aggregation-config">Create once, use many</a>
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-files-empty mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Data Aggregation Snippets</h4>
        <p>
          Take ready <a href="https://docs.daggy.dev/data-aggregation-snippets"><b>Data Aggregation Snippets</b></a> or
          <a href="https://docs.daggy.dev/data-aggregation-snippets">create own</a>
        </p>
      </div>
      <div class="cell-md-4 mt-4 ">
        <div><span class="mif-flow-line mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Data Aggregation Streams</h4>
        <p>
          <b>Data Aggregation Snippets</b> are streams at runtime
        </p>
      </div>
    </div>
    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-flow-parallel mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Parallel Execution</h4>
        <p>
          All <b>Data Aggregation Snippets</b> are run and streams in parallel and simultaneously
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-database mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Data Aggregation Storage</h4>
        <p>
          Each <b>Data Aggregation Session</b> stored in separate local folder.
          Each <b>Data Aggregation Snippet</b> store in separate file.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-server mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Local and Remote Data Aggregation</h4>
        <p>
          Aggregate data from local or via ssh connection
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center pt-10 pb-20" id="howitworks">
  <div class="h1"><span class="reduce-1 enlarge-1-md text-bold">Work Schema</span></div>
  <div class="container mt-12">
    <div class="img-container bg-black" data-popover-text="How Daggy works">
      <a href="https://docs.daggy.dev/how-it-works"><img src="images/daggy_scheme.svg" alt="<%= data.general.images.how_daggy_works %>"></a>
    </div>
  </div>
  <div class="mt-5">
    <%= partial 'partials/install_button' %>
  </div>
</div>